<!DOCTYPE html>
 <html lang="en" >
     <head>
         <meta charset="UTF-8">
         <title> Web for bioinformatics beginners </title>
     </head>
     <body>

         <h1> Let's start with generating your first random DNA sequence </h1>
         <form action='/bio/' method='post'>
             Please enter an integer number:  <input type='number' step= '1' name="length" />
             <input type="submit">
         </form>

         <h3>  Function requests </h3>
         <form action='/bio/' method='post'>
            Sequence <input type="submit",  name="myRandomseq"> <br>
            Reverse_complement sequence <input type="submit", name="myRCSeq"> <br>
            Protein <input type="submit",name="myProtein" > <br>
         <form> <br>


         <h3> Results </h3>
             Random sequence {{myRandomseq}} <br>
             Reverse_complement sequence {{myRCSeq}} <br>
             Protein {{myProtei n}} <br>

     </body>
 </html>