<!DOCTYPE html>
 <html lang="en" >
     <head>
         <meta charset="UTF-8">
         <title> Web for bioinformatics beginners </title>
     </head>
     <body>
     <div>

         <h1> Let's start with generating your first random DNA sequence </h1>
         <form action='/bio/' method='post'>
             Please enter an integer number:  <input type='number' min="1" step="1" name="length" />
             <input type="submit"> <br>

         </form>

         <h3>  Function requests </h3>
         <form action='/bio/' method='get'>
            Sequence <input type="submit",  name="myRandomseq"> <br>
            Reverse_complement sequence <input type="submit", name="myRCSeq"> <br>
            Protein <input type="submit",name="myProtein" > <br>
         <form> <br>


         <h3> Results </h3>
             length  <textarea rows="1", cols="10"> {{length}} </textarea><br>
             Random sequence <br>
             <textarea rows="6", cols="100">{{myRandomseq}} </textarea><br>
             Reverse_complement sequence <br>
             <textarea rows="6", cols="100" > {{myRCSeq}} </textarea> <br>
             Protein {{myProtein}} <br>
              <textarea rows="6", cols="100">{{myProtein}} </textarea><br>
     </div>
     </body>
 </html>