<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Web for bioinformatics beginners </title>
</head>
<body>
    <h1> Let's start with generating your first random DNA sequence </h1>
    <form action='/msggate/' method='post'>
        Please enter an integer number:  <input type='text'  /> <br>
        <input type="submit" value="enter No">
    </form>

    <h1> My random DNA sequence is:  </h1>
    <form action='/msggate/' method='get'>
        your Seq <input type="text" /> <br>
        <input type='submit' value="get Seq">
    </form>

</body>
</html>
